In [21]:
import pandas as pd

In [23]:

# Load the Wikipedia page
url = "https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table"
tables = pd.read_html(url)

# Assuming the third table is the one with the all-time medal data
medal_table = tables[2]  # Adjust this index if necessary

pd.set_option('display.max_rows', 100)
medal_table

,Team (IOC code),No. Summer,No. Winter,No. Games
0,American Samoa (ASA),10,2,12
1,Andorra (AND),13,13,26
2,Angola (ANG),11,0,11
3,Antigua and Barbuda (ANT),12,0,12
4,Aruba (ARU),10,0,10
5,Bangladesh (BAN),11,0,11
6,Belize (BIZ)[BIZ],14,0,14
7,Benin (BEN)[BEN],13,0,13
8,Bhutan (BHU),11,0,11
9,Bolivia (BOL),16,7,23
10,Bosnia and Herzegovina (BIH),9,8,17
11,British Virgin Islands (IVB),11,2,13
12,Brunei (BRU)[A],7,0,7
13,Cambodia (CAM),11,0,11
14,Cayman Islands (CAY),12,2,14
15,Central African Republic (CAF),12,0,12
16,Chad (CHA),14,0,14
17,Comoros (COM),8,0,8
18,Republic of the Congo (CGO),14,0,14
19,Democratic Republic of the Congo (COD)[COD],12,0,12
20,Cook Islands (COK),10,0,10
21,El Salvador (ESA),13,0,13
22,Eswatini (SWZ)[SWZ],12,1,13
23,Equatorial Guinea (GEQ),11,0,11
24,The Gambia (GAM),11,0,11
25,Guam (GUM),10,1,11
26,Guinea (GUI),13,0,13
27,Guinea-Bissau (GBS),8,0,8
28,Honduras (HON),13,1,14
29,Kiribati (KIR),6,0,6
30,Laos (LAO),11,0,11
31,Lesotho (LES),13,0,13
32,Liberia (LBR)[C],14,0,14
33,Libya (LBA)[D],12,0,12
34,Madagascar (MAD),14,3,17
35,Malawi (MAW),12,0,12
36,Maldives (MDV),10,0,10
37,Mali (MLI),15,0,15
38,Malta (MLT),18,3,21
39,Marshall Islands (MHL),5,0,5
40,Mauritania (MTN),11,0,11
41,Federated States of Micronesia (FSM),7,0,7
42,Monaco (MON)[N],22,11,33
43,Myanmar (MYA)[MYA],19,0,19
44,Nauru (NRU),8,0,8
45,Nepal (NEP)[a],15,4,19
46,Nicaragua (NCA),14,0,14
47,Oman (OMA),11,0,11
48,Palau (PLW),7,0,7
49,Palestine (PLE),8,0,8
50,Papua New Guinea (PNG),12,0,12
51,Rwanda (RWA),11,0,11
52,Saint Kitts and Nevis (SKN),8,0,8
53,Saint Vincent and the Grenadines (VIN),10,0,10
54,São Tomé and Príncipe (STP),8,0,8
55,Seychelles (SEY),11,0,11
56,Sierra Leone (SLE),13,0,13
57,Solomon Islands (SOL),11,0,11
58,Somalia (SOM),11,0,11
59,South Sudan (SSD),3,0,3
60,East Timor (TLS)[I],6,3,9
61,Tuvalu (TUV),5,0,5
62,Vanuatu (VAN),10,0,10
63,Yemen (YEM)[YEM],9,0,9
64,Korea (COR),0,1,1
65,Malaya (MAL)[MAL],2,0,2
66,North Borneo (NBO)[NBO],1,0,1
67,Republic of China (ROC)[ROC],3,0,3
68,Saar (SAA)[SAA],1,0,1
69,North Yemen (YAR)[YAR],2,0,2
70,South Yemen (YMD)[YMD],1,0,1

In [37]:
name_with_country_codes = medal_table["Team (IOC code)"]

def get_country_name(country):
    return country[0:country.find("(")].strip()


country_names = name_with_country_codes.map(get_country_name)

In [45]:
country_names

0                       American Samoa
1                              Andorra
2                               Angola
3                  Antigua and Barbuda
4                                Aruba
5                           Bangladesh
6                               Belize
7                                Benin
8                               Bhutan
9                              Bolivia
10              Bosnia and Herzegovina
11              British Virgin Islands
12                              Brunei
13                            Cambodia
14                      Cayman Islands
15            Central African Republic
16                                Chad
17                             Comoros
18               Republic of the Congo
19    Democratic Republic of the Congo
20                        Cook Islands
21                         El Salvador
22                            Eswatini
23                   Equatorial Guinea
24                          The Gambia
25                                Guam
26                              Guinea
27                       Guinea-Bissau
28                            Honduras
29                            Kiribati
30                                Laos
31                             Lesotho
32                             Liberia
33                               Libya
34                          Madagascar
35                              Malawi
36                            Maldives
37                                Mali
38                               Malta
39                    Marshall Islands
40                          Mauritania
41      Federated States of Micronesia
42                              Monaco
43                             Myanmar
44                               Nauru
45                               Nepal
46                           Nicaragua
47                                Oman
48                               Palau
49                           Palestine
50                    Papua New Guinea
51                              Rwanda
52               Saint Kitts and Nevis
53    Saint Vincent and the Grenadines
54               São Tomé and Príncipe
55                          Seychelles
56                        Sierra Leone
57                     Solomon Islands
58                             Somalia
59                         South Sudan
60                          East Timor
61                              Tuvalu
62                             Vanuatu
63                               Yemen
64                               Korea
65                              Malaya
66                        North Borneo
67                   Republic of China
68                                Saar
69                         North Yemen
70                         South Yemen
Name: Team (IOC code), dtype: object

In [46]:
type(country_names)

pandas.core.series.Series

In [48]:
country_names.to_csv("wiki_country_names.csv")